### Puxar base de dados

In [4]:
import pandas as pd

tabela = pd.read_csv(r'exportacoes_franca.csv')
display(tabela)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

### Informações Gerais

Quantas linhas têm a tabela? Existe algum valor vazio que deveria ser tratado?

In [5]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142360 entries, 0 to 142359
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Year             142360 non-null  int64
 1   Month            142360 non-null  int64
 2   Country          142360 non-null  object
 3   City             142360 non-null  object
 4   SH4 Code         142360 non-null  int64
 5   SH4 Description  142360 non-null  object
 6   SH2 Code         142360 non-null  int64
 7   SH2 Description  142360 non-null  object
 8   Economic Block   142360 non-null  object
 9   US$ FOB          142360 non-null  int64
 10  Net Weight       142360 non-null  int64
dtypes: int64(6), object(5)
memory usage: 11.9+ MB

None

### Como foi a evolução das exportações para a frança ao longo dos anos?

Crie uma tabela com os anos de 2016, 2017, 2018, 2019 e 2020 e o valor US$ de exportações

In [13]:
#Filtrando antes do groupby
tabela_anos_exportacao = tabela[['Year','US$ FOB']].groupby('Year').sum()
#display(tabela_anos_exportacao)

#Filtrando depois
"""tabela_anos_exportacao = tabela.groupby("Year").sum(numeric_only=True)
tabela_anos_exportacao = tabela_anos_exportacao[["US$ FOB"]]
"""

#Função para formatar 
def formatar(valor):
    valor_formatado = f'US$ {valor:,}'
    return valor_formatado

#Aplicando a Função no condigo
tabela_anos_exportacao['US$ FOB'] = tabela_anos_exportacao['US$ FOB'].apply(formatar)

display(tabela_anos_exportacao)

                US$ FOB
Year
2016  US$ 4,615,500,082
2017  US$ 4,448,705,456
2018  US$ 5,239,424,416
2019  US$ 5,218,723,612
2020  US$ 3,967,594,810

### Quais os produtos mais exportados ao longo de todo o período?

Queremos saber os produtos com maior valor US$ de exportação

In [29]:
valor_total_expotacao = tabela[['SH2 Description', 'US$ FOB']].groupby('SH2 Description').sum()
valor_total_expotacao = valor_total_expotacao.sort_values(by='US$ FOB', ascending=False)

valor_total_expotacao['US$ FOB'] = valor_total_expotacao['US$ FOB'].apply(formatar)

display(valor_total_expotacao)

                                                              US$ FOB
SH2 Description
Residues and waste from the food industries; ot...  US$ 5,641,498,484
Ores, slag and ash                                  US$ 3,404,353,274
Nuclear reactors, boilers, machinery and mechan...  US$ 1,889,781,694
Pulp of wood or of other fibrous cellulosic mat...  US$ 1,855,424,642
Aircraft, spacecraft, and parts thereof             US$ 1,253,007,710
...                                                               ...
Umbrellas, sun umbrellas, walking-sticks, seat-...         US$ 18,872
Cork and articles of cork                                  US$ 10,974
Wool, fine or coarse animal hair; horsehair yar...          US$ 2,540
Tin and articles thereof                                    US$ 2,460
Photographic or cinematographic goods                         US$ 148

[97 rows x 1 columns]

### Em 2020 qual cidade mais exportou para a França?
Em valores US$

In [32]:
tabela2020 = tabela.loc[tabela['Year']==2020, :]

tabela_cidade_2020 = tabela2020[['City', 'US$ FOB']].groupby('City').sum()
tabela_cidade_2020 = tabela_cidade_2020.sort_values(by='US$ FOB', ascending=False)

tabela_cidade_2020['US$ FOB'] = tabela_cidade_2020['US$ FOB'].apply(formatar)

display(tabela_cidade_2020)

                                     US$ FOB
City
Duque de Caxias - RJ         US$ 279,405,596
Luís Eduardo Magalhães - BA  US$ 265,328,132
Ponta Grossa - PR            US$ 187,777,016
São José dos Campos - SP     US$ 172,939,276
Rio de Janeiro - RJ          US$ 122,522,214
...                                      ...
Não-Me-Toque - RS                     US$ 42
Cubatão - SP                          US$ 40
Holambra - SP                         US$ 10
São Sebastião do Caí - RS              US$ 6
Quatro Pontes - PR                     US$ 0

[648 rows x 1 columns]

### Quais os produtos mais exportados (em US$) que as 2 maiores cidades (em exportação em 2020) exportaram?

In [40]:
cidade = tabela_cidade_2020.index[3]
tabela_cidade = tabela2020.loc[tabela2020['City']==cidade, :]

tabela_cidade = tabela_cidade[['SH2 Description', 'US$ FOB']].groupby('SH2 Description').sum()
tabela_cidade = tabela_cidade.sort_values(by='US$ FOB', ascending=False)

tabela_cidade['US$ FOB'] = tabela_cidade['US$ FOB'].apply(formatar)

display(tabela_cidade)

                                                            US$ FOB
SH2 Description
Aircraft, spacecraft, and parts thereof             US$ 158,478,302
Optical, photographic, cinematographic instrume...    US$ 4,111,008
Electrical machinery and equipment and parts th...    US$ 3,397,854
Nuclear reactors, boilers, machinery and mechan...    US$ 3,180,306
Articles of iron or steel                               US$ 940,980
Copper and articles thereof                             US$ 659,912
Aluminium and articles thereof                          US$ 641,634
Plastics and articles thereof                           US$ 362,246
Rubber and articles thereof                             US$ 326,020
Other base metals; cermets; articles thereof            US$ 147,470
Miscellaneous articles of base metal                    US$ 126,758
Nickel and articles thereof                             US$ 123,798
Mineral fuels, mineral oils, bituminous substan...      US$ 103,166
Furniture; bedding, mattresses, cushions and si...       US$ 71,020
Articles of stone, plaster, cement, asbestos, m...       US$ 68,316
Ships, boats and floating structures                     US$ 36,130
Miscellaneous chemical products                          US$ 31,288
Other made-up textile articles; sets; rags, others       US$ 24,590
Carpets and other textile floor coverings                US$ 21,902
Pharmaceutical products                                  US$ 20,924
Lac; gums, resins and other vegetable saps and ...       US$ 14,894
Clocks and watches and parts thereof                      US$ 9,518
Soap, organic surface-active agents, others               US$ 7,310
Articles of leather; articles of animal gut (ot...        US$ 6,336
Wadding, felt and nonwovens; others                       US$ 5,850
Ceramic products                                          US$ 5,054
Glass and glassware                                       US$ 4,836
Tools, implements, cutlery, spoons and forks, o...        US$ 4,518
Impregnated, coated, covered or laminated texti...        US$ 2,340
Tanning or dyeing extracts; tannins and their d...        US$ 1,674
Paper and paperboard; articles of paper pulp, o...        US$ 1,180
Articles of apparel and clothing accessories, k...        US$ 1,090
Miscellaneous manufactured articles                         US$ 610
Special woven fabrics; tufted textile fabrics; ...          US$ 224
Vehicles other than railway or tramway rolling-...           US$ 98
Tin and articles thereof                                     US$ 52
Albuminoidal substances; modified starches; glu...           US$ 34
Organic chemicals                                            US$ 34
Man-made filaments                                            US$ 0
Iron and steel                                                US$ 0